@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

/* Collapsable Component Styles */
.Collapsible {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    color: rgba(107, 114, 128);
    margin: 1rem 0 1rem 0;
}

.Collapsible__contentInner {
    margin-top: 10px;
}

.Collapsible__trigger {
    color: #401d0a;
    font-size: larger;
}
